@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito:wght@200;300;400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap');
/* ========================== VARIABLES ========================== */

:root {

/* colors */
--color-black: #0B0B0D;
--color-gray: #272932;
--color-light-gray: #999;
--color-dark-prime: #6c3a8a;
--color-light-prime: #9e75b6;
--color-off-gray: #e7e7e7;
--color-off-white: #f8f8f8;
--color-white: #fff;

/* fonts */
--font-prime: 'Nunito', sans-serif;
--font-second: 'Playfair Display', serif;
--font-third: 'Montserrat', sans-serif;
--font-mono: 'Roboto Mono', monospace;

/* images */
--favi-image:url('./assets/img.png');
--profile-image:url('./assets/img.png');
--background-image:url('./assets/bg-tech.png')

}

/* ========================= // VARIABLES ======================== */

/* =========================== GLOBAL ============================ */

* {
    font-family: var(--font-prime);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, span {
    color: var(--color-dark-prime);
    text-align: center;
    line-height: 1.5;
}

h1 {
    font-size: 4rem;;
}

h2 {
    font-size: 3rem;
}

p {
    line-height: 2;
    color: var(--color-light-gray);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

section:nth-child(even) {
    background-color: var(--color-off-white);
}

button {
    background-color: var(--color-dark-prime);
    margin: 5px 5px;
    padding: 10px 25px;
    transition: all 300ms ease;
    border: none;
    border-radius: 3px;
}

button:hover {
    background-color: var(--color-light-prime);
}

button a {
    color: var(--color-white);
    font-weight: 700;
}

/* ========================== // GLOBAL ========================== */

/* ========================= NAVIGATION ========================== */

.logo__text a{
    font-family: var(--font-second);
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-dark-prime);
    margin: 0 15px;
}

nav {
    background-color: var(--color-white);
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    width: 100%;
    height: 60px;
    margin: 0 auto;
    padding: 0 5%;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__container {
    width: 100%;
}

.menu__text {
    display: flex;
}

.menu__text--link {
    margin: 0 15px;
    color: var(--color-black);
    font-weight: 700;
}

.menu__button--link {
    background-color: var(--color-dark-prime);
    color: var(--color-white);
    font-weight: 700;
    padding: 5px 20px;
    transition: all 300ms ease;
    border-radius: 3px;
}

.menu__button--link:hover {
    background-color: var(--color-light-prime);
}

/* ======================= // NAVIGATION ========================= */

/* ======================== HERO SECTION ========================= */

.hero__container {
    min-height: 120vh;
    margin-bottom: 0;
    padding: 50px;
    background-color: var(--color-white) !important;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 300px; */
}

.hero__container--block {
    margin-top: 30vh;
    padding-left: 50px;
}

.hero__title {
    color: var(--color-gray);
    text-align: left;
}

.hero__subtitle {
    color: var(--color-light-prime);
    text-align: left;
}

/* Add in later if time */
.hero__subtitle--span {
    color: var(--color-light-prime);

}

.hero__button {
    width: 60%;
    font-size: 20px;
    margin-top: 25px;
}

.contact__card--grid {
    display: flex;
    margin: 0 auto;
    width: 50%;
    position: relative;
    z-index: 0;
    top: -100px;
    justify-content: center;
    align-items: center;
    border-top: var(--color-off-gray) 2px solid;
    border-bottom: var(--color-off-gray) 2px solid;
    border-radius: 5px;

}

.contact__card {
    margin: 0 0;
    background-color: var(--color-off-white);
    width: 100%;
    padding: 10% 0;
}

.contact__card--image {
    width: 20%;
    display: block;
    margin: 10px auto;
}

.contact__card--text a{
    font-size: 24px;
    transition: all 300ms ease;
}

.contact__card--text a:hover {
    color: var(--color-light-prime);
}


/* ======================= // HERO SECTION ======================= */

/* ======================== ABOUT SECTION ======================== */

/* Not sure why the about-me section won't let me make any changes now. */
.blank__div {
    background-color: var(--color-off-white);
    margin-top: -280px;
    height: 280px;
}

.about__fig {
    padding: 5% 5%;
}

.about__text {
    padding: 0 5%;
    text-align: justify;
}

/* ====================== // ABOUT SECTION ======================== */

/* ====================== PORTFOLIO SECTION ======================= */

#portfolio {
    margin: 5% 0;
    padding: 0 5%;
}

.portfolio__element {
    margin: 5% 0;
    padding: 5% 5%;
    background-color: var(--color-off-white);
}

.portfolio__items--images {
    display: block;
    margin: auto;
    width: 50%;
    padding-bottom: 2%;
}

/* Uhg... */
.portfolio__images--proj1 {
    width: 63%;
}

.portfolio__images--proj2 {
    width: 63%;
}

.portfolio__tags ul {
    display: flex;
    justify-content: space-between;
}

.portfolio__tags ul li {
    background-color: var(--color-light-prime);
    color: var(--color-white);
    padding: 4px 10px;
    margin: 5px auto;
    border-radius: 3px;
    font-size: 11px;
    font-family: var(--font-third);
    letter-spacing: 0.1rem;
}

.portfolio__heading {
    font-size: 22px;
    margin-top: 15px;
    text-align: left;
}

.portfolio__element p {
    margin: 2% 0;
    line-height: 1.8rem;
    text-align: justify;
}

.portfolio__element--btn-all {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-end;
}

.portfolio__element button {
    width: 100%;
    background-color: var(--color-dark-prime);
    margin: 5px 5px;
    padding: 10px 25px;
    transition: all 300ms ease;
    border: none;
    border-radius: 3px;
}

.portfolio__element button:hover {
    background-color: var(--color-light-prime);
}

.portfolio__element button a {
    color: var(--color-white);
    font-weight: 700;
}

/* ===================== // PORTFOLIO SECTION ===================== */


/* ========================= WORK SECTION ========================= */

#work-history {
    padding: 5% 0;
}

.work__timeline {
    padding: 3% 5%;
}

.work__timeline .row {
    background-color: var(--color-dark-prime);
    padding: 50px 50px;
    margin: 3% 0;
}

.work__timeline h4, .work__timeline p {
    text-align: left;
    color: var(--color-white);
}

/* ======================== // WORK SECTION ======================= */

/* ========================== RESPONSIVE ========================== */

@media only screen and (min-width: 880px) {

    .hero__button {
        width: 25%;
    }

    .contact__card {
        width: 50%;
    }

    #about-me {
        width: 100%;
        height: 500px;
        padding: 0 8%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .portfolio__items {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .work__timeline {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .work__timeline .row {
        background-color: var(--color-dark-prime);
        padding: 50px 50px;
        margin: 0;
    }

    .work__timeline--card-1 {
        grid-row: 1;
        grid-column: 1;
        border-right: 10px solid var(--color-gray);
    }

    .work__timeline--card-2 {
        grid-row: 2;
        grid-column: 2;
        border-left: 10px solid var(--color-gray);
    }

    .work__timeline--card-3 {
        grid-row: 3;
        grid-column: 1;
        border-right: 10px solid var(--color-gray);
    }

    .work__timeline--card-4 {
        grid-row: 4;
        grid-column: 2;
        border-left: 10px solid var(--color-gray);
    }

    .form__container {
        width: 40% !important;
    }
}

/* ========================= // RESPONSIVE ======================== */

/* ============================= CONTACT ========================== */

#contact {
    height: 50%;
    padding-top: 5%;
}

.form__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 5% auto;
}

.form__field {
    height: 50px;
    margin: 10px 0;
    background-color: var(--color-off-white);
    border: 1px solid var(--color-off-gray);
    padding-left: 15px;
    font-size: 18px;
}

.form__field::placeholder {
    font-weight: 700;
    color: var(--color-light-prime);
}

.form__field--message {
    height: 200px;
    resize: none;
    padding-top: 10px;
}

.form__button {
    color: var(--color-white);
    font-size: 20px;
    font-weight: 700;
}

/* =========================== // CONTACT ========================= */

/* ============================= FOOTER =========================== */

#footer {
    height: 70px;
    text-align: center;
    background-color: var(--color-gray);
}

#footer p {
    color: var(--color-white);
    letter-spacing: 0.2rem;
    padding-top: 20px;
}

/* =========================== // FOOTER ========================== */